<!--====================
; Title: Assignment 2.4
; Author: George Henderson
; Date: 12 January 2021
; Description: Display ejs variables in a table
====================-->
<!DOCTYPE html>
<html>
  <head>
    <title>Assignment 2.4</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="col-md-6">
      <h3>Employees</h3>
      <table class="table table-bordered">
        <thead class="thead-dark"><tr><th>Name</th><th>Address</th></tr></thead>
        <tr><td><%= firstName %> <%= lastName%></td><td><%= address %></td></tr>
      </table>
    </div>
  </body>
</html>
