/* Elements */
body {
  background-color: rgb(128,128,128);
}
div[role="main"] {
  min-height: 80vh;
}
form {
  min-width: 35%;
  max-width: 45%;
  margin: auto;
}

table {
  margin:auto;
  max-width: fit-content;
  min-width: 30%;
}
/*----------------------------------*/
/* Nav */

nav li {
  list-style-type: none;
}
/*----------------------------------*/
/* General Functionality */
.centerChildren {
  display: flex;
  justify-content: center;
}
.row {
  flex-direction: row;
}

.section, .tallSection {
  text-align: center;
  padding: 15px;
  border: 1px solid black;
  margin: 20px;

  color: white;
  background-color: #343a40;
}
.section { /*! This is just a placeholder for UI look */
  width: 250px;
}
.tallSection { /*! This is just a placeholder for UI look */
  height: 400px;
}
/*----------------------------------*/
/* Controls */
