body {
  background-color: rgb(128,128,128);
}
/*----------------------------------*/
/* Nav */

nav li {
  list-style-type: none;
}
/*----------------------------------*/
/* General Functionality */
.centerChildren {
  display: flex;
  justify-content: center;
}
.row {
  flex-direction: row;
}

.section, .tallSection {
  text-align: center;
  padding: 15px;
  border: 1px solid black;
  margin: 20px;
}
.section { /*! This is just a placeholder for UI look */
  width: 250px;
}
.tallSection { /*! This is just a placeholder for UI look */
  height: 400px;
}
/*----------------------------------*/
/* Controls */
input {
  margin: 25px;
}
