<%- include ('_header')%>
<%- include ('_navbar')%>

<body>
  <div role="main" class="container">
    <div class="centerChildren">
      <div id="empNew" class="section">
        User will be able to click the button below to go to the page with a form to create a new employee entry.
        <br/><a href="/new" class="btn btn-primary">Add New Employee</a>
      </div>
      <div id="empList" class="section">
        User will be able to click the button below to go to the page that lists all employee records in a table format.
        <br/><input type="button" value="List Employee">
      </div>
    </div>
    <div id="recentActivity" class="tallSection">Recent adds, deletes, etc. will go here.</div>
  </div>
</body>

<%- include ('_footer')%>
<%- include ('_scripts')%>
