<%- include ('_header')%>
<%- include ('_navbar')%>

<body>
  <div role="main" class="container">
    <div class="centerChildren">
      <div id="empNew" class="section">
        <p>Click the button below to add a new employee to the database</p>
        <br/><a href="/new" class="btn btn-primary mt-4 mb-2">Add New Employee</a>
      </div>
      <div id="empList" class="section">
        <p>Click the button below to see all employees currently added to the database</p>
        <br/><a href="/list" class="btn btn-primary mt-4 mb-2">List All Employees</a>
      </div>
    </div>
  </div>
</body>

<%- include ('_footer')%>
<%- include ('_scripts')%>
